extends layout

block content
	if (active)
		script.
			console.log(JSON.parse('!{usernames}'));
			$( function() { 
				$("#name").autocomplete({
				source: JSON.parse('!{usernames}')
				});
				$("#text").blur(function() {
					$("#swearing").val("false");
					$("#textAreaOutputTemp").empty();
					$("#textAreaOutputTemp").append($("#text").val());
					$("#textAreaOutputTemp").profanityFilter({
						externalSwears: './scripts/swearWords.json',
						filter: false,
						profaneText: function(data) {
							var concat = "";
							var concat2 = "";
							console.log(data);
							$("#swearing").val("true");
							if(data.length <= 1) {
								concat += data[0];
								concat2 = " was detected";
							} else {
								concat2 = " were detected";
								for(var i = 0; i < data.length - 1; i++) {
									concat += data[i];
									if(i + 1 != data.length) {
										concat += ", "
									}
								}
								concat += "and " + data[data.length - 1];
							}
							alert("The swear word(s) " + concat + concat2 + ". Do you wish to continue? Please keep in mind this is a compliment only system.");
						}
					});
				});
			});
		.container
			h1 Who would you like to thank for their hard work?
			h1(id='textAreaOutputTemp' style='display: none')
			br
			form(role='form', action="/cheer",method="post", style='max-width: 300px;')
				.form-group
					.ui-widget
						label(for='name' required) Name:
						input(id='name' name='username')
					textarea(id="text" name="text" rows="4" cols="50" spellcheck="true" required)
					button.btn.btn-default(type='submit' id="swearing" name="swearing" value="false") Submit
		script.
		br
		a(href="/") Back to the homepage
	if(!active)
		p Your account isn't activated. Please activated with the confirmation email.
		br
		a(href="/") Back to the homepage