extends layout

block content
	.container
		if (!user)
			a(href="/login") Login
			br
			a(href="/register") Register
			p #{messages}
		if (user)
			p You are currently logged in as #{user.username}
			a(href="/logout") Logout
			br
			a(href="/Cheer") Compliment
			br
			a(href="/Manager") Manager
			br
			a(href="/compliments") Inbox
			p #{messages}
