extends layout

block content
	.container
		p
		| Table of Content
		br
		| 1.      Superuser
		br
		| 1.1     Creating new account
		br
		| 2.      Administrator
		br
		| 2.1     Adding a new vehicle operator / client
		br
		| 2.2     Removing a vehicle operator / client
		br
		| 2.3     Viewing a Pretrip form
		br
		| 3.      Vehicle Operator
		br
		| 3.1     Submitting vehicle inspection:
		br
		| 4.      All Users
		br
		| 4.1     Changing password
		br
		br
		| 1. Superuser
		br
		| 1.1 Creating new account
		br
		| Step 1:     Login to a superuser account
		br
		| Step 2:     Click on the “Create Account” option in the navigator bar
		br
		| Step 3:     Select the account type to be created
		br
		| Step 4:     Enter the username of the new account in the text field below
		br
		|             (Note that the email registered must be @posabilities.ca to be successful)
		br
		| Step 5:     Click the submit button to register account. All account made by the
		br
		| superuser will have password defaulted to “password” (All lowercase).
		br
		| Step 6:     Account created!
		br
		br
		| 2. Administrator
		br
		| 2.1 Adding a new vehicle operator / client
		br
		| Step 1:     Login to an account with administrator privilege
		br
		| Step 2:     Click on the “Add Operator” option in navigator bar
		br
		| Step 3:     From the drop-down list, select the vehicle operator / client to register
		br
		| (Note that administrator can only see list of vehicle operator that is not registered to him/her)
		br
		| Step 4:     Click submit button to confirm the assignment
		br
		| 2.2 Removing a vehicle operator / client
		br
		| Step 1:     Login to an account with administrator privilege
		br
		| Step 2:     Click on the “Remove Operator” option in navigator bar
		br
		| Step 3:     From the drop-down list, select the vehicle operator / client to remove from
		br
		| your list
		br
		| (Note that it will only show all vehicle operators registered to you in the list)
		br
		| Step 4:     Click submit button to confirm the removal
		br
		| 2.3 Viewing a Pretrip form
		br
		| Step 1:     Login to an account with administrator privilege
		br
		| Step 2:     Click on the “View Pretrip” option in navigator bar
		br
		| Step 3:     From the search form, input the vehicle license plate and the date of
		br
		| submission, and then submit
		br
		| Step 4:     A form alike the one vehicle operator sees will be shown to the
		br
		| administrator.
		br
		br
		| 3. Vehicle Operator
		br
		| 3.1 Submitting vehicle inspection:
		br
		| Step 1:     Login to an account with vehicle operator privilege
		br
		| Step 2:     Click on the “Submit Pretrip” option in navigator bar
		br
		| Step 3:     Fill out the required fields (all of them), if you see fields that don’t quite
		br
		| match the condition of the vehicle do not worry check the one that applies
		br
		| the most and write down specifically what is wrong in the comments section
		br
		| Step 4:    Take photos of all 4 angles of your vehicle: front, back, left, and right. These
		br
		| are required to be taken at the time of your submission.
		br
		| Step 5:    Click submit button to confirm the submission of the pretrip form
		br
		br
		| 4. All Users
		br
		| 4.1 Changing password
		br
		| Step 1:     Login to an account.
		br
		| Step 2:     Click on the “Change Password” option in navigator bar
		br
		| Step 3:     Enter in your current password in the first box
		br
		| (The default password is “password”)
		br
		| Step 4:     Enter in your desired new password to the box below
		br
		| Step 5:     Re-enter the same new password to confirm
		br
		| Step 6:     Click the submit button to process the change
		br
