doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='description', content='Welcome to the kudos submission site, here you can acknowledge your fellow workers!')
		meta(name='keywords', content='BCSSC, Kudos, Employee Acknowledgement')
		title Submit Kudos
		// Bootstrap
		link(rel='stylesheet', href='./stylesheets/bootstrap.css')
		// Master css
		link(rel='stylesheet', href='./stylesheets/site.css')
	body
		// http://ironsummitmedia.github.io/startbootstrap-simple-sidebar/#
		// Top navigation pane
		.container
			// role="navigation"
			nav.navbar.navbar-inverse.navbar-fixed-top
				// Brand and toggle get grouped for better mobile display
				.navbar-header(style='background-color:rgba(51, 121, 182, 1);')
					button.navbar-toggle(type='button', data-target='#navbarCollapse', data-toggle='collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a#menu-toggle.navbar-brand.navbarActivate(href='#menu-toggle')
						img(src='menu.png', style='width:40px;height:30px')
					a.navbar-brand.navbarActivate(asp-controller='Home', asp-action='Index', style='width:115px;padding-top:17px;color:white;font-size:12px')
						| CHEER CHAT
				// Collection of nav links, forms, and other content for toggling
				#navbarCollapse.collapse.navbar-collapse(style='background-color:rgba(51, 121, 182, 1);')
					ul.nav.navbar-nav
						li
							a.navbarActivate(asp-controller='Home', asp-action='Index') Profile
						li.dropdown
							a.dropdown-toggle.navbarActivate(data-toggle='dropdown', href='#')
								| Menu
								b.caret
							ul.dropdown-menu(role='menu')
								li.divider
								li
									a(href="/manager")  Account management
								li.divider
								li
									a(href="/compliments")  Recieved Compliments
								li.divider
								li
									a(href="/cheer")  Send Compliments
								li.divider
								li
									a Report a problem
		// Start of left-sidebar
		#wrapper
			// Sidebar
			#sidebar-wrapper
				ul.goo-collapsible.sidebar-nav
					li
						a.overRide-navbar-color
							#documentLeft.rightTriangle
							| Tutorial
					li
						a.overRide-navbar-color(asp-controller='Homepage', asp-action='index')
							#eventsLeft.rightTriangle
							| Events
					li
						a.overRide-navbar-color(href='https://www.google.ca/#q=news', target='_blank')
							#newsLeft.rightTriangle
							| News
					li
						a.overRide-navbar-color(style='@ViewBag.contactStyle')
							#contactLeft.rightTriangle
							| Report a problem
			// /#sidebar-wrapper
			#page-content-wrapper
				#rendersection
					// Begin body section (actual content goes here)
					link(href='./stylesheets/forumui.css', rel='stylesheet')
					br
					p(style='width:86%;margin:auto;text-align:right')
						a(href='#')  Home 
						|  > 
						a(href='#')  Profile 
						|  > 
						span(style='color:green')  Send Kudos (current page)
					style(scoped='').
						.progress {
						position: relative;
						margin:auto;
						width: 400px;
						border: 1px solid #ddd;
						padding: 1px;
						border-radius: 3px;
						}
						.bar {
						background-color: #B4F5B4;
						width: 0%;
						height: 20px;
						border-radius: 3px;
						}
						.percent {
						position: absolute;
						display: inline-block;
						top: 3px;
						left: 48%;
						}
						textarea {
						overflow: auto;
						outline: none;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						}
					block content
					script.
						function validatePublish() {
						return true;
						}
						document.getElementById("applicationFile").onchange = function () {
						document.getElementById("uploadFile").value = this.files[0].name;
						};
					// end actual content
					p.text-center(style='margin-top:1000px')
						i.glyphicon.glyphicon-copyright-mark
						|  2016 - Cheer App
					
		script(src='./scripts/jquery.min.js')
		script(src='./scripts/bootstrap.min.js')
		script(src='./scripts/site.js')
		
