doctype html
html
	head
		title posAbilitiesPreTripForm
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

		
	body
		.container
			.jumbotron.text-center
				img(src='./assets/posAbilitiesLogoTransparent.png' class='img-responsive' alt='posAbilities')
			nav.navbar.navbar-default
				.container-fluid
					.navbar-header
						a.navbar-brand(href='/') posAbilities
					ul.nav.navbar-nav
						if(!user)
							li
								a(href='./login') Login
							li
								a(href='./register') Register
						if(user)
							li
								a(href='./logout') Logout
							li
								a(href='./changePass') Change Password
							if(user.localeCompare("superuser") == 0)
								li
									a(href='./createAcct') Create Account
								li
									a(href='./removeAcct') Remove Account	
							if(user.localeCompare("hybrid") == 0)
								li
									a(href='./addOp') Add Operator
								li
									a(href='./removeOp') Remove Operator
								li
									a(href='./pretripQuery') View Pretrip
								li
									a(href='./pretrip') Submit Pretrip
							if(user.localeCompare("admin") == 0)
								li
									a(href='./addOp') Add Operator
								li
									a(href='./removeOp') Remove Operator
								li
									a(href='./pretripQuery') View Pretrip
							if(user.localeCompare("vehicle") == 0)
								li
									a(href='./pretrip') Submit Pretrip
			block content
