extends layout

block content
	.container
		h1 Select pretrip to view
		if(error)
			p.lead #{error}
		form(role='form', action="/pretripQuery",method="post", style='max-width: 300px;')
			.form-group
					input.form-control(type='text', name="plate", placeholder='Enter Plate Number')
			.form-group
				input.form-control(type='text', name="date", pattern='^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$', placeholder='YYYY-MM-DD')
			button.btn.btn-default(type='submit') Submit
			&nbsp;
			a(href='/')
				button.btn.btn-primary(type="button") Cancel