extends layout

block content
	.container
		h1 Remove Account
		form(role='form', action="/removeAcct",method="post", style='max-width: 300px;')
			.form-group
					label(for="sel1") Select user to remove:
					select.form-control(id="sel1", name="username")
						for username in usernames
							option(value="#{username}") #{username}
			button.btn.btn-default(type='submit') Submit
			&nbsp;
			a(href='/')
				button.btn.btn-primary(type="button") Cancel